{% extends 'inventory/base.html' %}

{% block titulo %} Agregar Producto {% endblock %}

{% block contenido %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form_producto.as_p}}        
        
        <button type="submit">Enviar</button>
        
      </form>
      

    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p>Nueva categoría:</p>

      <form action="{% url 'categoria_nueva' %}" method="POST">
        {% csrf_token %}
        {{form_categoria.as_p}}        

        <button type="submit">Crear categoría</button>
        
      </form>
      

    </div>
  </div>
</div>


{% endblock %}




  


