{% extends 'inventory/base.html' %}

{% block titulo %} Productos {% endblock %}

{% block contenido %}

<div class="container">
    <h2 class="mb-4">Listado de Productos</h2>


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
    
          <form action="" method="GET">
            <input type="text" name="nombre" id="nombre">   

            <button type="submit">Filtrar</button>
            
          </form>
          
    
        </div>
      </div>
    </div>


    <table class="table table-bordered table-striped">
      <thead class="table-light">
        <tr>
          <th>Nombre</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td><a href="{% url 'producto_detalle' producto.pk %}">{{producto.nombre}}</a> </td>
            <td>{{producto.stock}}</td>
            <td>{{producto.precio}}</td>
            <td>
              <a href="{% url 'producto_editar' producto.pk %}" class="btn btn-sm btn-primary">Editar</a>
              <a href="{% url 'producto_borrar' producto.pk %}" class="btn btn-sm btn-danger">Borrar</a>
            </td>
          </tr>

        {% endfor %}
    
        
      </tbody>
    </table>
  </div>

{% endblock %}




  


